* {
        margin: 0px;
        padding: 0px;
        border: 0px;
}

html, body, #fillMe, .col, .b, .a {
	height: 100%;
}

body {
	background-color: #000;
	font-family: Arial, Sans-serif;
	color: #333;
}

td {
	vertical-align: top;
	text-align: left;
	padding: 5px;
}

td.a {
	background-color: #ededed;	
}

td.b {
	background-color: #fff;
}

.h2wrapper {
	padding: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: center;
}

h2 {
	font-size: 25px;
	color: #333;
}

.h2wrapper h2 {
	border-bottom: 1px solid black;
}

h2.bus {
	margin-bottom: -12px;
	padding: 5px;
	font-size: 30px;
}

table.col {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

td.bus {
	vertical-align: middle;
}

table.bus {
	width: 100%;
	margin: 5px;
	padding: 5px;
	margin-left: 0px;
}

.high {
	font-size: 40px;
	color: #2a080b;
}

.low {
	font-size: 40px;
	color: #07121c;
}

.colorbar {
	width: 15px;
	min-height: 70px;
	height: 100%;
	float: left;
	padding: 0px;
	overflow: auto;
}